@import "tailwindcss";
:root
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.75em;
  display:  flex;
  align-items: center;
  justify-content: space-between;
}

 ::view-transition-new(root),
::view-transition-old(root) {
  animation: none !important;
}

::view-transition-group(root){
  z-index: auto !important;
}
::view-transition-image-pair(root){
  isolation: isolate;
  will-change: transform, opacity, clip-path;
}
::view-transition-new(root){
  z-index: 10000;
}
::view-transition-new(root){
  z-index: 1;
}