@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-green: rgba(207, 243, 75, 1);
  --color-primary-black: rgba(18, 18, 18, 1);
  --font-dm-mono: "DM Mono", monospace;

}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 ::view-transition-new(root),
::view-transition-old(root) {
  animation: none !important;
}

::view-transition-group(root){
  z-index: auto !important;
}
::view-transition-image-pair(root){
  isolation: isolate;
  will-change: transform, opacity, clip-path;
}
::view-transition-new(root){
  z-index: 10000;
}
::view-transition-new(root){
  z-index: 1;
}
.transition-overlay{
  width: 100dvw;
  height: 100dvh;
  display: flex;
  pointer-events: none;
  z-index: 12000;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  gap: 0;
}
.block {
  flex: 1;
  height: 100%;
  background: #222;
  transform: scaleX(0);
  transform-origin: left;
}
.logo-overlay {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 11000;
  background: #222;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.logo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}